Source: ros-ardent-realsense-ros2-camera
Section: misc
Priority: extra
Maintainer: Sharron LIU <sharron.liu@intel.com>
Build-Depends: debhelper (>= 9.0.0), ros-ardent-ament-cmake, ros-ardent-ament-cmake-gtest, ros-ardent-ament-lint-auto, ros-ardent-ament-lint-common, ros-ardent-builtin-interfaces, ros-ardent-cv-bridge, ros-ardent-rclcpp, ros-ardent-realsense-camera-msgs, ros-ardent-rmw-implementation, ros-ardent-rosidl-default-generators, ros-ardent-sensor-msgs, ros-ardent-std-msgs, ros-ardent-tf2-ros, ros-ardent-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-ardent-realsense-ros2-camera
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-ardent-builtin-interfaces, ros-ardent-cv-bridge, ros-ardent-rclcpp, ros-ardent-realsense-camera-msgs, ros-ardent-rmw-implementation, ros-ardent-rosidl-default-runtime, ros-ardent-sensor-msgs, ros-ardent-std-msgs, ros-ardent-tf2-ros, ros-ardent-ros-workspace
Description: The realsense_ros2_camera package
