Source: ros-bouncy-cv-bridge
Section: misc
Priority: extra
Maintainer: Vincent Rabaud <vincent.rabaud@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-bouncy-ament-cmake, ros-bouncy-sensor-msgs, ros-bouncy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-bouncy-cv-bridge
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-bouncy-sensor-msgs, ros-bouncy-ros-workspace
Description: This contains CvBridge, which converts between ROS Image messages and OpenCV images.
